In [8]:
5+4

9

# Intro to python

this is the first lesson
dfljfds

In [4]:
%%bash
cd data
ls

asia_gdp_per_capita.csv
gapminder_all.csv
gapminder_gdp_africa.csv
gapminder_gdp_americas.csv
gapminder_gdp_asia.csv
gapminder_gdp_europe.csv
gapminder_gdp_oceania.csv

In [26]:
%pycat code/notebook_hints.md

## Basic Shortcuts

`Esc` will take you into command mode where you can navigate around your notebook with arrow keys.
### While in command mode:
`A` to insert a new cell above the current cell, 
`B` to insert a new cell below.
`M` to change the current cell to Markdown, 
`Y` to change it back to code
`D` + `D` (press the key twice) to delete the current cell

`Enter` will take you from command mode back into edit mode for the given cell.
### while in edit mode:
`Ctrl` + `Shift` + `-` will split the current cell into two from where your cursor is.
`Shift` + `Enter` will run the current cell

## Full Shortcut Listing
Cmd + Shift + P (or Ctrl + Shift + P on Linux and Windows)

$ x^2 + y_1$

1. jsdfj
1. jdfd
1. helo
1. this is list

In [12]:
age = 43
first_name = "Sarah"

In [14]:
print(first_name)

Sarah

In [15]:
age = age + 4
print(age)

47

In [16]:
print(first_name[0])

S

In [21]:
print(first_name[2])

r

In [20]:
print(first_name[0:2])

Sa

In [22]:
print(first_name[:2])

Sa

In [23]:
len(first_name)

5

In [28]:
# %load code/ex_swap
# Fill the table showing the values of the variables in this program after each statement is executed.

# Command  # Value of x   # Value of y   # Value of swap #
x = 1.0    #              #              #               #
print( "x: "+ str(x) )
y = 3.0    #              #              #               #
print( "x: "+ str(x) + "y" + str(y))

x: 1.0
x: 1.0y3.0

In [29]:
swap = x   #              #              #               #
print(swap)
print(x)
print(y)

1.0
1.0
3.0

In [30]:
x = y      #              #              #               #
print( swap)
print(x)
print(y)

1.0
3.0
3.0

In [31]:
y = swap   #              #              #               #
print( swap)
print(x)
print(y)

# Bonus: split the cells and print out the values after each step to check yourself

1.0
3.0
1.0

In [ ]:
# %load code/ex_vars
# ex0: split this into multiple cells and choose the either python or markdown for each

## Ex 1
What is the final value of position in the program below? (Try to predict the value without running the program, then check your prediction.)

In [34]:
initial = "left"
position = initial
initial = "right"
print(position)

left

In [37]:
## Ex 2
# If you assign a = 123, what happens if you try to get the second digit of a?
a=123
a_stringn=str(a)
print(a_stringn[1])

2

## Ex 3
Which is a better variable name, m, min, or minutes? Why? Hint: think about which code you would rather inherit from someone who is leaving the lab:

```
ts = m * 60 + s
tot_sec = min * 60 + sec
total_seconds = minutes * 60 + seconds
```

In [38]:
## Ex 4
# Think about what this will print before you uncomment and run it?
atom_name = 'carbon'
print('atom_name[1:3] is:', atom_name[1:3])

atom_name[1:3] is: ar

In [39]:
type(a)

int

In [40]:
b = 123.0
type(b)

float

In [41]:
3/4

0.75

In [42]:
type(3)

int

In [43]:
type(4)

int

In [44]:
type(3/4)

float

In [45]:
3//4

0

In [46]:
type(first_name)

str

In [49]:
type(len)

builtin_function_or_method

In [50]:
first_name + " brown"

'Sarah brown'

In [54]:
((first_name+" ")*3)[:-1]

'Sarah Sarah Sarah'

In [57]:
print( first_name + " is " + str(age))

Sarah is 47

In [ ]:
# %load code/ex_types
# ex0: split this into multiple cells and choose the either python or markdown for each

## Types Excercise 1
 What type of value is 3.4? How can you find out?

In [60]:
type(3.4)

float

## Types Excercise 2
What type of value is 3.25 + 4?

In [61]:
type(3.25+4)

float

## Types Excercise 3
What type of value (integer, floating point number, or character string) would you use to represent each of the following? Try to come up with more than one good answer for each problem. For example, in # 1, when would counting days with a floating point variable make more sense than using an integer?

1. Number of days since the start of the year. int
1. Time elapsed since the start of the year. float in days, int in seconds
1. Serial number of a piece of lab equipment. string
3. A lab specimen’s age. 
1. Current population of a city.
1. Average population of a city over time.

Note: _see in markdown that those number display as incementing even though in
the plain source they're not in order!. This means you can make a list and then add
a new item in the middle of the list without having to change the numbers_

In [ ]:
## Types Excercise 4

# Which of the following will have a value of 2.0?
# Note: there may be more than one right answer.

first = 1.0
second = "1"
third = "1.1"

a = first + float(second)
b = float(second) + float(third)
c = first + int(third)

print (c)

In [64]:
int(first)

1

In [65]:
first

1.0

In [63]:
d = first + int(float(third))
e= int(first) + int(float(third))
f = 2.0 * second

print (a)
print(b)
print(d)
print(e)
print(f)

ValueError: invalid literal for int() with base 10: '1.1'

##  Types Excercise 5

Python provides complex numbers, which are written as 1.0+2.0j. If val is an imaginary number, its real and imaginary parts can be accessed using dot notation as val.real and val.imag.

1. Why do you think Python uses j instead of i for the imaginary part?
1. What do you expect 1+2j + 3 to produce?
1. What do you expect ‘4j’ to be? What about 4 j or `4 + j’?

In [66]:
1+ 2j

(1+2j)